<ion-view>
  <ion-nav-title>
    <img id="tinyLogo" src="img/logo-small.png">
  </ion-nav-title>
  <ion-content class="homeContent">
    <div class="list card">
      <div class="row">
        <div class="col col-33 center">
          <img class="full-image" id="processedImage" src="">
        </div>
        <div class="col col-67">
          <div class="item center">
            <h1>Tilapia</h1>
            <h2 style="color: red">92% match</h2>
          </div>
        </div>
      </div>
      <div class="reportButton center">
        <a href="#/app/report" class="button button-assertive">
          REPORT
        </a>
      </div>
    </div>
    <div class="list card">
      <div ng-click="toggle()" class="center">
        <h4 id="infoTitle">{{current.title}}</h4>
        <img class="full-image" id="infoPic" ng-src="{{current.img}}">
      </div>
      <div class="reportButton padded-top center" ng-click="toggle()">
        <a class="btn reportButton compareBtn">Compare</a>
      </div>
    </div>
  </ion-content>
</ion-view>
