<ion-view view-title="Report">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Fillet labeled as:</span>
        <input type="text" placeholder="Red Snapper">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Fillet was actually:</span>
        <input type="text" placeholder="Tilapia">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Store</span>
        <input type="text" placeholder="El Pescado Loco">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Location</span>
        <input type="text" placeholder="123 S. Main St. Atlanta, GA">
      </label>
    </div>

    <div class="center">
      <button class="button button-assertive">
        Send Report
      </button>
    </div>
  </ion-content>
</ion-view>
